--extra-index-url https://download.pytorch.org/whl/cu128
--find-links https://data.pyg.org/whl/torch-2.7.0+cu128.html

# PyTorch 2.7.1
torch==2.7.1
torchaudio==2.7.1
torchvision==0.22.1
torchmetrics==1.7.3

# PyG core
torch-geometric==2.6.1

# PyG CUDA extensions (built for torch 2.7.0+cu128, compatible with 2.7.1)
https://data.pyg.org/whl/torch-2.7.0+cu128/torch_scatter-2.1.2+pt27cu128-cp311-cp311-linux_x86_64.whl
https://data.pyg.org/whl/torch-2.7.0+cu128/torch_sparse-0.6.18+pt27cu128-cp311-cp311-linux_x86_64.whl
https://data.pyg.org/whl/torch-2.7.0+cu128/torch_cluster-1.6.3+pt27cu128-cp311-cp311-linux_x86_64.whl
https://data.pyg.org/whl/torch-2.7.0+cu128/torch_spline_conv-1.2.2+pt27cu128-cp311-cp311-linux_x86_64.whl

absl-py==2.3.1
aiohappyeyeballs==2.6.1
aiohttp==3.12.13
aiosignal==1.3.2
alabaster==1.0.0
annotated-types==0.7.0
attrs==25.3.0
babel==2.17.0
beautifulsoup4==4.13.4
certifi==2025.4.26
charset-normalizer==3.4.2
contourpy==1.3.2
cycler==0.12.1
docutils==0.21.2
dotmap==1.3.30
filelock==3.18.0
fonttools==4.58.2
frozenlist==1.7.0
fsspec==2025.5.1
furo==2024.8.6
grpcio==1.73.1
h5py==3.13.0
idna==3.10
imagesize==1.4.1
iniconfig==2.1.0
Jinja2==3.1.6
joblib==1.5.1
kiwisolver==1.4.8
lightning-utilities==0.14.3
lmdb==1.6.2
Markdown==3.8.2
MarkupSafe==3.0.2
matplotlib==3.10.3
mpmath==1.3.0
msgpack==1.1.1
msgpack-numpy==0.4.8
multidict==6.5.0
networkx==3.5
numpy==1.26.4
nvidia-cublas-cu12==12.8.3.14
nvidia-cuda-cupti-cu12==12.8.57
nvidia-cuda-nvrtc-cu12==12.8.61
nvidia-cuda-runtime-cu12==12.8.57
nvidia-cudnn-cu12==9.7.1.26
nvidia-cufft-cu12==11.3.3.41
nvidia-cufile-cu12==1.13.0.11
nvidia-curand-cu12==10.3.9.55
nvidia-cusolver-cu12==11.7.2.55
nvidia-cusparse-cu12==12.5.7.53
nvidia-cusparselt-cu12==0.6.3
nvidia-nccl-cu12==2.26.2
nvidia-nvjitlink-cu12==12.8.61
nvidia-nvtx-cu12==12.8.55
packaging==25.0
pandas==2.3.0
pillow==11.2.1
pluggy==1.6.0
propcache==0.3.2
protobuf==6.31.1
psutil==7.0.0
pyarrow==20.0.0
pydantic==2.11.7
pydantic_core==2.33.2
Pygments==2.19.1
pyparsing==3.2.3
pytest==8.4.1
python-dateutil==2.9.0.post0
pytorch-lightning==2.5.2
pytz==2025.2
PyYAML==6.0.2
requests==2.32.3
roman-numerals-py==3.1.0
scikit-learn==1.7.0
scikit-multilearn==0.2.0
scipy==1.16.0
seaborn==0.13.2
six==1.17.0
snowballstemmer==3.0.1
soupsieve==2.7
Sphinx==8.2.3
sphinx-autodoc-typehints==3.2.0
sphinx-basic-ng==1.0.0b2
sphinx-rtd-theme==3.0.2
sphinxcontrib-applehelp==2.0.0
sphinxcontrib-devhelp==2.0.0
sphinxcontrib-htmlhelp==2.1.0
sphinxcontrib-jquery==4.1
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==2.0.0
sphinxcontrib-serializinghtml==2.0.0
sympy==1.14.0
tensorboard==2.19.0
tensorboard-data-server==0.7.2
threadpoolctl==3.6.0
tqdm==4.67.1
triton==3.3.1
typing-inspection==0.4.1
typing_extensions==4.14.0
tzdata==2025.2
urllib3==2.4.0
Werkzeug==3.1.3
xxhash==3.5.0
yarl==1.20.1
