defusedxml~=0.7.1
ipython~=8.13.2
numpy~=1.24.3
Pillow~=9.5.0
beautifulsoup4~=4.12.2
soupsieve~=2.4.1
packaging~=21.3
typing_extensions~=4.14.0
bleach~=6.0.0
jupyter~=1.0.0
jupyterlab-pygments~=0.2.2
pip~=22.3.1
attrs~=23.1.0
wheel~=0.37.1
pyOpenSSL~=23.1.1
cryptography~=40.0.2
docutils~=0.20.1
Sphinx~=7.0.1
filelock~=3.12.0
Pygments~=2.15.1
h5py~=3.13.0
tables~=3.8.0
pytz~=2023.3
requests~=2.30.0
dask~=2023.5.0
colorama~=0.4.6
ipywidgets~=8.0.6
notebook~=6.5.4
Babel~=2.12.1
setuptools~=65.5.0
Cython~=0.29.34
charset-normalizer~=3.1.0
cffi~=1.15.1
sympy~=1.14.0
mpmath~=1.3.0
decorator~=5.1.1
torch~=2.7.1
matplotlib~=3.7.1
tqdm~=4.67.1
triton~=3.3.1
scipy~=1.10.1
psutil~=5.9.5
networkx~=3.1
urllib3~=2.0.2
fsspec~=2023.5.0
MarkupSafe~=2.1.2
pandas~=2.0.1
pyarrow~=20.0.0
numexpr~=2.8.4
python-dateutil~=2.8.2
Jinja2~=3.1.2
imagesize~=1.4.1
snowballstemmer~=2.2.0
certifi~=2023.5.7
tzdata~=2023.3
cycler~=0.11.0
six~=1.16.0
idna~=3.4
PyYAML~=6.0
contourpy~=1.0.7
fonttools~=4.39.4
pyparsing~=3.0.9
ipykernel~=6.23.1
tornado~=6.3.2
kiwisolver~=1.4.4
trove-classifiers~=2023.3.9
build~=0.10.0